body{
    font-family:Arial, Helvetica, sans-serif;
}
.mainbox{
    display: flex;
    justify-content: center;
    margin-top:5%;
 

}
.loginbox{
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 421px;
    background: #EAEAEA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    
}
.logo{
    width:70%;
    
}
.log-box{
    height: 30%;
    display: flex;
    justify-content:center;
    
}
.input-box{
    height:30%;
    display: flex;
    padding-left:20%;
    padding-right: 20%;
    flex-direction: column;
    justify-content:center;
    
}
.action-box{
    display: flex;
    flex-direction: column;
    height:15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.error-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:20px;
}
.btn-submit{
    font-weight: bold;
    width:60%;
    height:70%;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
    border-style: none;
    background: #01273D;
    border-radius: 5px;
}
.input{
    
    margin-bottom: 5%;
    padding: 5%;
    border: 1px solid #ADADAD;
    box-sizing: border-box;
    border-radius: 10px;
}